/*  Reset Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  General Styles */
:root {
    --yellow-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --fw-medium: 500;
    --fw-bold: 800;
    --spacing-medium: 12px;
    --spacing-large: 24px;
    --border-radius-medium: 10px;
    --border-radius-large: 20px;
    --fs-small: 14px;
    --fs-medium: 16px;
    --fs-large: 24px;
}

/* figtree-500 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/figtree-v9-latin-500.woff2") format("woff2");
}

/* figtree-800 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2");
}

html,
body {
    height: 100%;
}

body {
    font-family: "Figtree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--yellow-color); */
    color: var(--gray-950);
    @media (max-width: 375px) {
        margin: auto 24px;
    }
}

body,
#para {
    background-color: var(--yellow-color);
}

.wrapper {
    max-width: 384px;
    /* width: fit-content; */
    padding: var(--spacing-large);
    border: 1px solid var(--gray-950);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    border-radius: var(--border-radius-large);
    background-color: var(--white-color);
    box-shadow: 8px 8px black;
}

.illustration-article {
    border-radius: var(--border-radius-medium);
    object-fit: cover;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-large) / 2);
}

#para {
    width: fit-content;
    padding: 4px 12px;
    /* background-color: var(--yellow-color); */
    border-radius: 4px;
    /* font-weight: var(--fw-bold); */
    /* font-size: var(--fs-small); */
    font: var(--fw-bold) var(--fs-small) "Figtree";
}

.published.para {
    /* font-size: var(--fs-small); */
    /* font-weight: var(--fw-medium); */
    font: var(--fw-medium) var(--fs-small) "Figtree";
}

.main.heading {
    /* font-size: var(--fs-large); */
    /* font-weight: var(--fw-bold); */
    font: var(--fw-bold) var(--fs-large) "Figtree";

    &:hover,
    &:focus,
    &:active {
        color: var(--yellow-color);
    }
}

.text.content {
    color: var(--gray-500);
    /* font-size: var(--fs-medium); */
    /* font-weight: var(--fw-medium); */
    font: var(--fw-medium) var(--fs-medium) "Figtree";
}
.avatar-info {
    display: flex;
    gap: 5.5px;
    align-items: center;
}

.avatar-info a {
    color: var(--gray-950);
    /* font-size: var(--fs-small); */
    /* font-weight: var(--fw-bold); */
    font: var(--fw-bold) var(--fs-small) "Figtree";
}

.avatar {
    object-fit: cover;
    width: 32px;
    height: 32px;
}
