/*  Reset Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  General Styles */
:root {
    --primary-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
    --fw-medium: 500;
    --fw-bold: 800;
    --space-md: 12px;
    --space-lg: 24px;
    --border-radius-sm: 4px;
    --border-radius-md: 10px;
    --border-radius-lg: 20px;
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
}

/* figtree-500 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/figtree-v9-latin-500.woff2") format("woff2");
}

/* figtree-800 - latin */
@font-face {
    font-display: fallback;
    font-family: "Figtree";
    font-style: normal;
    font-weight: 800;
    src: url("./assets/fonts/figtree-v9-latin-800.woff2") format("woff2");
}

html,
body {
    height: 100%;
}

.main {
    font-family: "Figtree", sans-serif;
    font-size: var(--fs-12);
    font-weight: var(--fw-medium);
    color: var(--gray-950);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 24px;
    min-height: 100%;

    /* Mobile First Approach */
    @media (min-width: 1440px) {
        font-size: var(--fs-14);
    }
}

body,
.section__learning {
    background-color: var(--primary-color);
}

.article {
    max-width: 384px;
    padding: var(--space-lg);
    border: 1px solid var(--gray-950);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    border-radius: var(--border-radius-lg);
    background-color: var(--white-color);
    box-shadow: 8px 8px black;
}

.article__illustration {
    object-fit: cover;
    border-radius: var(--border-radius-md);
}

.section {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

.section__learning {
    width: fit-content;
    padding: 4px 12px;
    border-radius: var(--border-radius-sm);
    font-weight: var(--fw-bold);
}

.section__title {
    font-size: var(--fs-20);
    font-weight: var(--fw-bold);

    &:hover,
    &:active {
        color: var(--primary-color);
    }

    @media (min-width: 1440px) {
        font-size: var(--fs-24);
    }
}

.section__description {
    color: var(--gray-500);
    font-size: var(--fs-14);

    @media (min-width: 1440px) {
        font-size: var(--fs-16);
    }
}

.avatar__info {
    display: flex;
    gap: var(--space-md);
    align-items: center;
}

.avatar__img {
    width: 32px;
    height: 32px;
}

.avatar__name {
    font-weight: var(--fw-bold);
    font-size: var(--fs-14);
}
